@media (max-width: 1100px) {

.card {
  width: 39vw}
.services{
  width: 39vw;
}
@media (max-width: 960px) {
  body {
    
  }
/* основной контейнер*/
.maincontainer
{
margin-left: 0;
    padding-top: 50px;
}
/*левое меню*/
.sidebar {
display: none;
}
/*мобильное меню*/
.mobilemenu{
    display:flex;
} 
a:hover {
background-color: #BABABA;
color: #fff;
}
/* подвал */
.footer{
  background-color: #303a44;
  text-align: center;
}

/* контейнер под слайдером ПК и Мобильный */
.containermobile {
  display: flex;
  justify-content: center;
}
.centred_headersmobile{
  display: initial;
}

.container {
  display: none;
}
.centred_headers{
  display: none;
}
.seemore{
  display: none;
}

/* заказать звонок и сообщение */
.centred_feedback{
  flex-direction: column;
}


.portfoliomobile{
  display: initial;
  
}


/* footer*/
.textcols
{
  display: none;
}

.mobilefootertext{
  text-align: center;
  display: inline-block;
}
.footerfooter{
  display: none;
}


/*слайдер брендов*/
.brandsliderwrapper
{
 height: 250px;
 width: auto;
}

/* стрелочки слайдеров*/
.swiper-button-next{
  display: none !important;;
}
.swiper-button-prev{
 display: none !important;; 
}





}
