@media (max-width: 960px) {
  body {
    
  }
/* основной контейнер*/
.maincontainer
{
margin-left: 0;
    padding-top: 50px;
}
/*левое меню*/
.sidebar {
display: none;
}
/*мобильное меню*/
.mobilemenu{
    display:flex;
} 
a:hover {
background-color: #BABABA;
color: #fff;
}
/* подвал */
.footer{
  background-color: #303a44;
  text-align: center;
}

.textcols
{
  display: none;
}

.mobilefootertext{
  text-align: center;
  display: inline-block;
}
.footerfooter{
  display: none;
}


/*слайдер брендов*/
.brandsliderwrapper
{
 height: 250px;
 width: auto;
}

/* стрелочки слайдеров*/
.swiper-button-next{
  display: none !important;;
}
.swiper-button-prev{
 display: none !important;; 
}


}
