@media (max-width: 960px) {
  body {
    
  }

.maincontainer
{
padding-left: 0;
    padding-top: 50px;
}

.sidebar {
display: none;
}
.mobilemenu{
    display:flex;
} 
a:hover {
background-color: #BABABA;
color: #fff;
}

.footer{
  background-color: #303a44;
  text-align: center;
}

.textcols
{
  display: none;
}

.mobilefootertext{
  text-align: center;
  display: inline-block;
}
.footerfooter{
  display: none;
}


}
