body { 
  font-family:Montserrat;
  background: #fff;
}
.first_level_header{
 font-size: 4em;
 color: #2F8CE9;
}
.second_level_header{
 font-size: 2em;
 color:#727b8c;
}
.regular_text
{
 font-size: 1em;
 color:#727b8c;
}

.interval1{
  height: 150px;
}
.interval2{
  height: 45px;
}
.interval3{
  height: 20px;
}
img {
  max-width: 100%;
  position: relative;
}
*{margin:0;padding:0;}

/* zagolovki*/

.centred_headers
{
  text-align: center;  
}

.centred_headers img{
width: 100%;
height: 100%;
object-fit: contain;
}

h1{
  color: #2F8CE9;
}
h2{
  font-weight: normal;
}
.gridheaders
{
  
  color: #898996;
  font-weight: 800;
}



.maincontainer
{
  margin-left: 20vw;
   background: #fff;
  
}

.centredmaincontainer
{
  margin: auto;
  background: #fff;
  max-width: 1143px;
}


/* setka*/

.centred_headersmobile
{
  display: none;
  text-align: center;  
  color: #727b8c;
}

.container {
  display: flex;
  gap: 1px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 285px;
  height: 210px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.cardtext{
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0,165,196, 0.8);
  transition: 0.4s;
  background-size: 100%;
  background-image: url(../img/service_1.jpg); 
  background-position: center;

}
.cardtextwrapper{
  transition: 0.4s;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,165,196, 0.8);
  
}


.cardtext:hover{
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s;
  cursor: pointer;
  background-size: 110%;
  
}

.cardtext:hover .cardtextwrapper{
    font-size: 1.1em;
    transition: 0.4s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}



/* столбец похожих на сетку штук*/
.containermobile {
  display: none;
  flex-direction: column;
}
.cardmobile {
  margin:  5% 5% 5% 5%;
  aspect-ratio: 14/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 10px;
  filter: brightness(90%);
  padding: 20px;
}
.cardtextmobile{
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);

}
.cardtextmobile:hover{
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.8s;
  cursor: pointer;
  border-radius: 10px;
}
.services{
  width: 380px;
  height: 250px;
}


/* костыль на список */

.centred_list
{ 

  display: flex;
  height: auto;
  max-height: 300px;
  position: relative; 
  color: #727b8c;
  margin:0 14% 0 16%;
  width: 80%;
  flex-direction: column;
  gap: 10px;
}

/* заказать письмо или звонок*/
.centred_feedback{
  display: flex;
  padding-top: 1.6em;
  cursor: pointer; 
  margin: 30px;
  justify-content: space-evenly;
  text-align: center;  
  color: #727b8c; 
  transition: 1s linear;
  clear: both;
  align-items: center;

}
.centred_feedback i{
  color: #8ab928;
  transition: 1s linear;

 
}

#MyCallButton{
   display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 10px;
  transition: 0.5s;
}
#MyEmailButton{
   display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 10px;
}
#MyCallButton:hover{
  background-color: rgba(241, 243, 247, 1.0);
  transition: 0.5s;
}
#MyEmailButton:hover{
  background-color: rgba(241, 243, 247, 1.0);
  transition: 0.5s;
}



/* bokovoe menu*/
.sidebar {
  height: 100vh;
  width: 20vw;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  z-index: 10;
  font-size: 18px;
}
.sidebar .avatar {
  text-align: center;
   width: 20vw;
   background-size: 100%;
     background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.sidebar .avatar img {

  overflow: hidden;
}
.sidebar__menuwrapp{
  height: 40vh;
  display: flex;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #727b8c;
}
.sidebar__menu a {
    padding: 4% 30px;
  color: currentcolor;
  text-decoration: none;
  cursor: pointer;
}
.sidebar__menu a:hover {
  background-color: #f1f3f7;
}

.secondlevelmenu{
  height: 100vh;
  width: 20vw;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: 0.5s linear;
  z-index: 9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  opacity: 0.6;
}




#sidebar_production_secondlevel{
  margin-top: 35vh;
  margin-bottom: 20vh;
}



#sidebar_services:hover + .maincontainer {
  filter: blur(5px);
}
#sidebar_services_secondlevel{
  margin-top: 42vh;
}

.thirdlevelmenu{
  height: 100vh;
  width: 20vw;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: 0.75s linear;
  z-index: 8;
  opacity: 0.25;
}






#TB_overlay {
  /*display: none;*/
  visibility: hidden;
  background-color: black; /* Чёрный фон */
  height: 100%; /* Высота максимальна */
  left: 0; /* Нулевой отступ слева */
  opacity: 0; /* Степень прозрачности */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Нулевой отступ сверху */
  left:20vw;
  width: 80%; /* Ширина максимальна */
  z-index: 3; /* Заведомо быть НАД другими элементами */
  transition: 1s linear;
}





.sidebar_social{
position: absolute;
width: 100%;
bottom: 6%;
}
.social{
  display: flex;
  padding: 0 30px;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  
}
.social img:hover {
  transform: scale(1.2);
  transition: 1s; 
  cursor: pointer;
}
#telephone{
  padding: 0 30px;
  display: flex;
  flex-direction: column; 
  flex: 1; 
  justify-content: space-around;
  color: #727b8c;
  font-weight: 800;
   font-size: 18px;
}




/*меню мобильное*/
.mobilemenu
{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0;
    z-index: 1030;
    background: #DAD8DE;
    display: none;
    height: 50px;

}

.mobilelogo
{
  position: absolute;
  top: 0px;
  left: 2px;
  height: 50px;
   background-image: url(../img/mobilelogo.png);
   width: 300px;
   background-repeat: no-repeat;
   background-size: 100%;
}

/*кнопка узнать больше*/
.seemore
{
display: flex;
align-items: center;
width: 150px;
position: absolute;
margin-left: auto;
margin-right: auto;
z-index: 2;
left: 20%;
right: 0;
text-align: center;
color: #687384;
padding: 3px 5px;
transition: 0.5s;


}
.fa-chevron-right{
  padding-top: 3px ;
  font-size: 1.15em;
  transition: 0.5s;
}
.seemore:hover{
 color: #207fdc;
 cursor: pointer;
 transition: 0.5s;
 background-color: rgba(241, 243, 247, 1.0);
}

/*кнопка сделать заказ*/
.OrderButton {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  display: inline-block;
  font: inherit;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.OrderButton:focus {
  outline: none;
}

.OrderButton::-moz-focus-inner {
  border: 0;
}
.Button-inner {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #8ab928;
  border-radius: 99em;
  color: #fff;
  background: #8ab928;
  font-weight: 600;
  display: flex;
  height: 2.5em;
  position: relative;
  transition: 1s ease;
  
}
.Button-inner p{
    text-align: center;
  align-items: center;
  transition: 1s ease;
}
.Button-inner:hover{
  color: #8ab928;
  background: #fff;
  cursor: pointer;
  padding: 0 1.9em;
  transition: 1s ease;
}
.Button-inner:hover p{
  text-align: center;
  align-items: center;
  font-size: 1.15em;
  transition: 0s ease;
}


.OrderButton:focus .Button-inner {
  border-color: #fff;
  box-shadow: 0 0 0 2px #8ab928;
}
.OrderButton:hover .Button-inner {
  filter: brightness(1.1);
}
.OrderButton:active .Button-inner {
  filter: brightness(0.9);
}

/*меню мобильной версии*/

#nav-icon4 {
    width: 45px;
    height: 40px;
    position: absolute;
    margin: 2px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 3px;
    top:3px;

}
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #8ab928;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
    top: 12px;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
    top: 24px;
    transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    
    
}
#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
    
}


.center-div {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

}

.siblings {
  cursor: pointer;
  display: block;
 
}

.siblings > li span {
  padding: 1em;
  display: inline-block;
  color: #333;
  width: 100%;

}

.siblings li.pagenav {
  display: block;
  background: #fff;
  position: relative;
  z-index: 500;
  width: 100%;
   background: #DAD8DE;
}
.siblings  span {
    text-align: center;
  }

 .siblings  a {
    display: block;
    padding: 6px 5px 0 5px;
    height: 20px;
    text-decoration: none;
    color: #333;
    text-align: center;
  }

 

  .siblings ul {
    position: relative;
    left: 0;
    padding: 0;
    display: none;
    list-style: none;
    width: 100%;
}
.pagenav    a {
      display: block;
      height: auto;
      padding: 15px;
      color: #333;
      text-align: left;
    }

 .siblings ul li {
    border-top: 1px solid #fff;
    width: 100%;
}
    .children {
      display: block;
    }

  .children {
    position: relative;
}


/* форма обратной связи*/


.feedback {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  background: rgba(0, 165, 196, 0.1);
  justify-content: center; /* чтобы контейнер */
  align-items: center; /* был по центру */
  z-index: 79;
  transition: 5s;
}

/* Ограничиваем контейнер по ширине 1000px */
.feedback_container {
  width: 100%;
  max-width: 500px;
  background: #f6f5f5;
  padding: 3px;
  border-radius: 5px;
}

/* Стили самой формы */
.feedback_content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: center; 
  background: #fff;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}


/* Стили правой колонки */
.right-side {
  width: 100%; /* занимает 75% общей ширины */
}

/* Заголовок правой колонки */
.topic-text {
  padding: 10px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  background: #95a3b0;
  text-align: center;
  
}

.topicContainer{
  margin: 0% 0% 0% 13%;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
  text-align: center;
}

/* Контейнер для input'ов формы */
.input-box {
  margin:  0% 10% 0% 10%;
  height: 50px; /* по сути задаем высоту input'а */
  width: 80%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 10px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 80%; /* растягиваем на всю высоту контейнера 50px */
  width: 95%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 10px; /* отступ справа и слева 20px */
  text-align: center;
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 10px;
  text-align: center;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.feedback_button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.feedback_button{
  margin:  0% 0% 0% 36%;;
  color: #fff;
  text-align: center;
  background: #95a3b0;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}

/* Меняем цвет фона при наведении на кнопку*/
.feedback_button:hover {
  background: #8ab928;
}
.feedback_button:active {
  background: #8ab928;
  color: #5f7a10;
}





/* The Close Button */
.closefeedback {
  position: relative;
  border-style: solid;
  bottom: 12px;
  left: 10px;
  color: #fff;
  width: 50px;
  float: right;
  font-weight: bold;
  font-size: 32px;
}

.closefeedback:hover,
.closefeedback:focus {
  text-decoration: none;
  cursor: pointer;
  background: #ff9800;
  border-color: #fff;
}
 .closefeedback:active{
  text-decoration: none;
  color: #95a3b0;
  cursor: pointer;
  background: #ff9800;
  border-color: #fff;
 }

 /* слайдер */

.slidercontainer
{
  
}


.swiper {

        width: 100%;
        height: 80%;
      }

      .swiper-slide {
        text-align: center;
        

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        height: 100%;
        object-fit: cover;
      }
.slidercover{
  width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
}
.swiper-pagination
{
 display: none; 
}
.sliderseemore{
    color: white;
    font-weight: 800;
    text-align: center;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 6%

}
    


.brandsliderwrapper
{
 height: 123px;
 width: auto;
}

.portfoliomobile{
  display: none;

}

































/* yandexmap */
.yandexmap{
}


/* подвал сайта */
.footer{

background: #8ab928;
padding: 45px 30px 45px;
}

.textcols {
  
  white-space: nowrap;
}
.textcols-item {
  white-space: normal;  
  display: inline-block;
  width: 26%;
  vertical-align: top;
  margin-right: 10%;
}
.textcols .textcols-item:last-child {
  margin-right: 0 ;
}
.footerheadertext{
  color: #4f7202;
  font-size: 1.5em;
}

.footersimpletext{
  color: #fff;
  text-decoration: none;
  line-height: 120%;
}

.footerfooter{
  background: #6e9417;
  
  color: #fff;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footerfootertext{
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.footerupper{
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #8ab928;
  position: absolute;
  right: 0px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.footerupper:hover{
  background: #8ab928;
  cursor: pointer;
}

.mobilefootertext{
  display: none;
  text-align: center;
  color: #95a3b0;
  transition: 0.6s;
}
.footermobilephone{
  color: #fff;
}
#footeremail:hover{
 color: #4d7000;
 cursor: pointer;
 transition: 0.6s;

}
.footersimpletext a{
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}
.footersimpletext a:hover{
color: #4d7000;
 cursor: pointer;
 transition: 0.6s;
 text-decoration: none;
}


